@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

.font-oswald {
  font-family: "Oswald";
}

.font-DM {
  font-family: "DM Serif Text";
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}


.font-bodoni {
  font-family: "Bodoni Moda";
}

:root {
  --bg-primary: #B6D0E2;
  --bg-secondary: #17233b;
  --text-light: #FAF9F6;
}

@theme inline {
  --color-primary: var(--bg-primary);
  --color-secondary: var(--bg-secondary);
  --color-light: var(--text-light);
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #FAF9F6;
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

.gsap-marker-start,
.gsap-marker-end,
.gsap-marker-scroller-start,
.gsap-marker-scroller-end {
  opacity: 0 !important;
  pointer-events: none !important;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}